<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<script src="http://code.jquery.com/jquery-1.5.js"></script>
		<!-- Character counting function for the review -->
		<script src="{% static "js/CharCount.js" %}"></script> <!-- Loading JavaScript -->
	</head>
	{% load staticfiles %} 
	<body>
		<div>
			<h4> Name : {{ coffee_item.name }} <br><br> </h4>
			<h4>  Price: {{ coffee_item.price }} </h4> 
			<h4>  <img src="{% static coffee_item.url %}" alt="No picture of item" /> </h4>
		</div>

	 <!-- detailed view for each Coffee item plus an image for each . 
	 image is added to object's url attribute -->
	 
	 <!-- Kareem Tarek 28-1181-->
		
	 	<div>
	 		<h2>
	 			{% if user.is_authenticated %}
		 			{{username}}! Your opinion matters
		 			<br><textarea rows="6" cols="70" size="200" name="field" form="reviewForm" onkeyup="countChar(this)">Enter your review here... (400 Characters or less)</textarea>
		 			<h3><div id="charNum"></div></h3>
			       <form action ="/CoffeeFinderApp/post_item_review/" method="post" id="reviewForm">{% csrf_token%}
			        <br>
			        <input size="20" type="text" name="user" value={{user_id}} hidden>
	        		<input size="20" type="text" name="coffee_item" value={{coffee_item.id}} hidden >
	        		<input size = "20" type="submit" value="Submit review">
			        </form>
			     {% endif %}
	      	</h2>
	 	</div>
	 </body>
<html>