{% load staticfiles %} 
<html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>CoffeeFinder</title>
    <link rel="shortcut icon" href="assets/images/favicon.png">
    <!-- Including stylesheets-->
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=latin,latin-ext">
    <link rel="stylesheet" href="{% static 'css/layerslider.css' %}">
    <link rel="stylesheet" href="{% static 'css/prettyPhoto.css' %}">
    <link rel="stylesheet" href="{% static 'css/colorpicker.css' %}">
  </head>
  <body class="menu-style-2 responsive sticky-menu">
  <header class="site-header">
        <div class="container">
          <div class="row">
            <!-- Site Logo: change the width to fit your logo size-->
            <div class="site-logo retina pull-left"><ul class="site-navigation"><li class="active"><a href="/CoffeeFinderApp/"> CoffeeFinder</a></li></ul></div>
            <!-- Site Navigation-->
            <nav role="navigation" class="navbar pull-right">
              <!-- Site Navigation Header: this part is required and is used on mobile.-->
              <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".site-navigation" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="fa fa-bars"></span></button>
              </div>
              <!-- Site Navigation: main menu content-->
              <ul class="site-navigation">
                <li class="active"><a href="/CoffeeFinderApp/page_list/">Find A CoffeeShop</a>
                </li>
                <li><a href="/CoffeeFinderApp/VIEW_ORDER/">View My Orders</a></li>
                <li><a href="/CoffeeFinderApp/shopSubscribe" data-toggle="dropdown" class="dropdown-toggle">Create Your CoffeeShop</a>
                </li>
                {% if user.is_authenticated %}
                <li><a href="/CoffeeFinderApp/view_favorites/">View Favorites</a>
                <li><a href="/CoffeeFinderApp/logout/">Logout</a></li>
                {% else %}
                <li><a href="/CoffeeFinderApp/login/">Sign In</a></li>
                <li><a href="/CoffeeFinderApp/register/">Register</a></li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
      </header>


       <section class="style-2" >
        <section class="blog-single" >
        <div class="container" >
          <div class="row">
          <br><br>
            <h1 style="top: 47%; left: 50%;" class="ls-l text-center">{{ coffee_item.name }} <span class="color"></a>  {{ coffee_item.price }} $ </span></h1>
            <h4 style="top: 55%; left: 50%;" class="style-2 ls-l text-center"> {{ coffee_item.description }}</h4>
                    {% if images %}

          		{% for image in images %}
				  <br><br> 
				  <h1 style="top: 47%; left: 50%;" class="ls-l text-center"><a href="{{ image.image.url }}"><img src="{{ image.image.url }}" width="400" height="400" alt="{{ image.image.name }}"></a></h1>

          <br>
				 
				  {% endfor %}
          {% endif %}
        </div>
      <div class="row">
        <h2 style="top: 47%; left: 50%;" class="ls-l text-center"><a href="/CoffeeFinderApp/page/{{ page.slug }}"> Back to {{ page.name}} </a> </h2><br>
      </div>
          <div class="row">
                  {% if auth == 1%}
        <form action="#" method="get">
         <h2 class="ls-l text-center"><input type="submit" class="btn btn-md" value="{{btntxt}}" name="favbtn" style="width:250px; top: 47%; left: 50%;"></h2>
        </form>
      {% endif %}
    </div>
            <div class="col-md-9">
              <article>

      <h3>Customers' Reviews</h3>
      {%if reviews%}
      <ul>
        {%for review,flag in reviews%}
        <div class="author">
                  <div>
        <h4><i class="fa fa-user"></i>  Posted by <span class="color">{{ review.user }}</span></li></h4>
                    <p>{{ review.field }}</p>
                    <br>
                    <a href="/CoffeeFinderApp/review/{{ review.id }}/" class="btn"> Share Review </a>
                    {% ifequal user_id review.user.id %}
                    <form action="/CoffeeFinderApp/delete_review/" method='post' >{% csrf_token %}
                      <input type="hidden" name="id" value="{{ review.id }}"/>
                      <input type="hidden" name="coffee" value="{{ coffee_item.id }}"/>
                      <p><input type="submit" value="Remove Review" class="btn" style="width:120px"/></p>
                    </form>
                  {% endifequal %}
                  </div>
                </div>
      
                {%endfor%}
            </ul>
            {% else %}
            <h5> There are no reviews.</h5>
            {%endif%}
      

        {% if user.is_authenticated %}
             <h5 class="comments-submit-title">{{username}}! Your opinion matters</h5>
                  <div class="row">
                    <div class="col-sm-12">
                      <textarea rows="6" cols="70" size="200" name="field" form="reviewForm" onkeyup="countChar(this)" placeholder="Enter your review here... (400 Characters or less)"></textarea>
                      <h3><div id="charNum"></div></h3>
                    </div>
                  </div>
                  <form action ="/CoffeeFinderApp/post_item_review/" method="post" id="reviewForm">{% csrf_token%}
			        <br>
			        <input size="20" type="text" name="user" value={{user.id}} hidden>
	        		<input size="20" type="text" name="coffee_item" value={{coffee_item.id}} hidden >
	        		<input size = "20" type="submit" value="Submit review" class="btn btn-md">
			        </form>
              <div>
              <h6>
                {% ifequal page.owner_id user.id %}
                <a href="/CoffeeFinderApp/item_edit/"> Edit </a><br><br>
                <a href="/CoffeeFinderApp/upload_to_item/"> Upload photo</a><br><br>
                <a href="/CoffeeFinderApp/delete_photos/{{ coffee_item.id }}"> Delete associated photos </a><br><br>
                <a href="/CoffeeFinderApp/delete/{{ coffee_item.id }}"> Delete </a><br><br>
                {% for image in images %}
                <form action="/CoffeeFinderApp/delete_photos/" method='post'>{% csrf_token %}
                <input type="hidden" name="id" value="{{ image.id }}"/>
                <input type="hidden" name="item_id" value="{{ image.item_id }}"/>
                <input size=20 type="submit" value="Remove Photo"/>
                </form>           
                {% endfor %}
                {% endifequal %}
              </h6>

              </div>
              </article>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  </section>
</section>
      <footer class="site-footer">
        <div class="copyright">
          <div class="container">
            <div class="row">
              <div class="col-sm-6"></div>
              <div class="col-sm-6">
                <div class="social"><a href="#" class="fa fa-twitter"></a><a href="#" class="fa fa-facebook"></a><a href="#" class="fa fa-behance"></a><a href="#" class="fa fa-skype"></a><a href="#" class="fa fa-vimeo-square"></a><a href="#" class="fa fa-google-plus"></a><a href="#" class="fa fa-linkedin-square"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <script src="http://code.jquery.com/jquery-1.5.js"></script>
    <!-- Character counting function for the review -->
    <script src="{% static "js/CharCount.js" %}"></script> <!-- Loading JavaScript -->
      <script src="{% static 'javascript/jquery.js' %}"></script>
      <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
      <script src="{% static 'javascript/gmap3.js' %}"></script>
      <script src="{% static 'javascript/jquery.cookie.js' %}"></script>
      <script src="{% static 'javascript/theme.js' %}"></script>
      <script src="{% static 'javascript/smoothscroll.js' %}"></script>
      <script src="{% static 'javascript/bootstrap/tab.js' %}"></script>
      <script src="{% static 'javascript/bootstrap/collapse.js' %}"></script>
      <script src="{% static 'javascript/bootstrap/alert.js' %}"></script>
      <script src="{% static 'javascript/bootstrap/carousel.js' %}"></script>
      <script src="{% static 'javascript/bootstrap/transition.js' %}"></script>
      <script src="{% static 'javascript/jquery.touchSwipe.js' %}"></script>
      <script src="{% static 'javascript/picturefill.js' %}" async></script>
      <script src="{% static 'javascript/parallax.js' %}"></script>
      <script src="{% static 'javascript/imagesloaded.js' %}"></script>
      <script src="{% static 'javascript/isotope.js' %}"></script>
      <script src="{% static 'javascript/jflickrfeed.js' %}"></script>
      <script src="{% static 'javascript/jquery.prettyPhoto.js' %}"></script>
      <!-- LayerSlider-->
      <script src="{% static 'javascript/greensock.js' %}"></script>
      <script src="{% static 'javascript/layerslider.transitions.js' %}"></script>
      <script src="{% static 'javascript/layerslider.kreaturamedia.jquery.js' %}"></script>
      <!-- Colorpicker-->
      <script src="{% static 'javascript/colorpicker.js' %}"></script>
      <script>
        jQuery(function($) {
         map('#map', '2 Elizabeth St, Melbourne', 14);
         
         $("#no-clutter").parallax("50%", 0.6);
         $("#home").parallax("50%", 0.6);
         $("#coffee-statement-1").parallax("50%", 0.6);
         $("#pizza-statement-1").parallax("50%", 0.6);
        });
        
      </script>
      <script>
        jQuery(function() {
         jQuery('#home').layerSlider({
          skin        : 'kataleya',
          skinsPath       : 'static/css/layerslider/skins/',
          responsiveUnder   : 1200,
          layersContainer   : 1200,
          responsive      : true,
          showCircleTimer   : false
         });
        });
      </script>
</body>
</html>
<br><br>







