<!DOCTYPE html>
<html>
    <head>
        <title>Coffee Items </title>
    </head>

    <body>
        <h1>List of items .. </h1>

        {% if coffee_items %}
            <ul>
                {% for coffee_item in coffee_items %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="/CoffeeFinderApp/coffee_item/{{ coffee_item.slug }}">{{ coffee_item.name }}</a></li> <br><br>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no coffee_items present.</strong>
       {% endif %}

        <a href="/CoffeeFinderApp/create_coffee_item/">Add new item </a>


    </body>
</html>