{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
     <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>CoffeeFinder</title>
    <link rel="shortcut icon" href="assets/images/favicon.png">
    <!-- Including stylesheets-->
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=latin,latin-ext">
    <link rel="stylesheet" href="{% static 'css/layerslider.css' %}">
    <link rel="stylesheet" href="{% static 'css/prettyPhoto.css' %}">
    <link rel="stylesheet" href="{% static 'css/colorpicker.css' %}">
        <style>
      html, body, #map {
        height: 500px;
        margin: 100px 0px 0px 0px;
        padding: 0px 5px 0px 5px;
      }
    </style>

   
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?libraries=geometry,places">
  </script>
  <script type="text/javascript">



  var myLatlng = new google.maps.LatLng(-25.363882,131.044922); //initial map center
  var map 
  var marker
  var markersArray = [];
 

function initialize() {
    var mapOptions = {
  zoom: 4,
  center: myLatlng
  }
  
   
  map = new google.maps.Map(document.getElementById('map'), mapOptions);

  

  google.maps.event.addListener(map, 'click', function(event) {
   //adds a marker at the place of the click
        placeMarker(event.latLng);
        document.getElementById("lat").value = event.latLng.lat();
        document.getElementById("long").value = event.latLng.lng();
        
    });

  // Create the search box and link it to the UI element.
  var input = /** @type {HTMLInputElement} */(
      document.getElementById('pac-input'));
  map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
  var searchBox = new google.maps.places.SearchBox(
    /** @type {HTMLInputElement} */(input));

  //adds a listener to respond to user search result
  google.maps.event.addListener(searchBox, 'places_changed', function() {

      //now we should get all the places, detect which place that the user selects and collect data about it
      var places = searchBox.getPlaces();
      var bounds = new google.maps.LatLngBounds();
      for (var i = 0, place; place = places[i]; i++) {
           var image = {
            url: place.icon,
            size: new google.maps.Size(71, 71),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 34),
            scaledSize: new google.maps.Size(25, 25)
            };

          
      
            //sets the bounds of the selected place to be viewd
            bounds.extend(place.geometry.location);
        }
        //go to the selected place.
       map.fitBounds(bounds);
    });
  

  // Bias the SearchBox results towards places that are within the bounds of the
  // current map's viewport.
 
}


    //adds a marker on the passed location
  function placeMarker(location) {
    
       //loops on any existing markers and deletes it
   for (var i=0; i<markersArray.length; i++){
        if( map.getBounds().contains(markersArray[i].getPosition()) ){
        markersArray[i].setMap(null);
       }
     }
   
   //creates a new marker object and places it on the map
      marker = new google.maps.Marker({
      position: location,
      map: map,
      title:"Hello World!"
      });
     markersArray.push(marker); 

      var infowindow = new google.maps.InfoWindow({ // Info window on marker saying it belongs to the user
      content:"You Are Here"
     });

     infowindow.open(map,marker); // Opening the info window above the marker on the map

     //calls on the function that gets the address
    reverseGecoding(location);

     
    }
 
 //this function takes a latlng location as an input and requests the detailed address
 //from maps API
  function reverseGecoding(location){
      var lat = location.lat();
      var lng = location.lng();
      var xmlHttp = null;
    
    
    //initialize request and send it
    xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", "https://maps.googleapis.com/maps/api/geocode/json?latlng="+lat+","+lng+"&key={{APIkey}}", false );
    xmlHttp.send( null );
   
    //calls a function to process the response that was received from the request
    ProcessRequest(xmlHttp.responseText);
  }

  //takes as an input a JSON object containing location details
  function ProcessRequest(response) {
    //parse json object to a dictionary
    var json_data = JSON.parse(response);
    
    //get the formatted address from the dictionary
   var lol = json_data.results[0]['formatted_address'];

   //splits the string into fields and store it in an array
   var add = lol.split(',');
    document.getElementById("street").value = add[0];
    document.getElementById("area").value = add[2];
    document.getElementById("city").value = add[3];
    document.getElementById("country").value = add[4];
    //document.getElementById("demo").
    //response;
  }
    google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
        <body class="menu-style-2 responsive sticky-menu">
        <div class="site-wrapper" >
          <header class="site-header">
        <div class="container">
          <div class="row">
            <!-- Site Logo: change the width to fit your logo size-->
            <div class="site-logo retina pull-left"><ul class="site-navigation"><li class="active"><a href="/CoffeeFinderApp/"> CoffeeFinder</a></li></ul></div>
            <!-- Site Navigation-->
            <nav role="navigation" class="navbar pull-right">
              <!-- Site Navigation Header: this part is required and is used on mobile.-->
              <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".site-navigation" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="fa fa-bars"></span></button>
              </div>
              <!-- Site Navigation: main menu content-->
              <ul class="site-navigation">
                <li class="active"><a href="/CoffeeFinderApp/page_list/">Find A CoffeeShop</a>
                </li>
                <li><a href="/CoffeeFinderApp/shopSubscribe" data-toggle="dropdown" class="dropdown-toggle">Create Your CoffeeShop</a>
                </li>
                {% if user.is_authenticated %}
                <li><a href="/CoffeeFinderApp/logout/">Logout</a></li>
                {% else %}
                <li><a href="/CoffeeFinderApp/login/">Sign In</a></li>
                <li><a href="/CoffeeFinderApp/register/">Register</a></li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
      </header>

          <section class="style-2"style="background-image: url('http://i62.tinypic.com/2gx2r6w.jpg')";  width: 100%; height: 862px;class="parallax hidden-xs" >

        <div class="container" >
          <div class="row">
            <div class="col-md-12">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="126px" height="112px" viewBox="0 0 126 112" enable-background="new 0 0 126 112" xml:space="preserve" class="mini-logo">
                <g>
                  <g>
                    <g>
                      <path d="M63.016,1.134C55.414,6.166,53.994,17.37,53,29c5.021,1.321,9.101,3.579,10.016,8.998 C63.93,32.579,68.01,30.321,73.031,29C72.037,17.37,70.617,6.166,63.016,1.134z"></path>
                    </g>
                  </g>
                </g>
                <g>
                  <g>
                    <g>
                      <path d="M63.125,49.996C61.076,24.065,20.794,22.264,1,34c0,0.667,0.167,0.25,0.167,0.917C7.297,55.219,27.661,71.48,55.109,64 c-6.523,7.979,3.71,30.104-5.01,40c3.785,3.008,10.959,1.13,13.026-2.999c2.068,4.129,9.242,6.007,13.027,2.999 c-8.721-9.896,1.512-32.021-5.011-40c27.448,7.48,47.813-8.781,53.942-29.083c0-0.667,0.167-0.25,0.167-0.917 C105.457,22.264,65.175,24.065,63.125,49.996z"></path>
                    </g>
                  </g>
                </g>
                <g>
                  <g>
                    <g>
                      <path d="M50,70c-25.705-1.039-29.236,20.098-34,40C31.967,101.301,53.156,97.822,50,70z"></path>
                    </g>
                  </g>
                </g>
                <g>
                  <g>
                    <g>
                      <path d="M76.297,70c25.705-1.039,29.236,20.098,34,40C94.33,101.301,73.141,97.822,76.297,70z"></path>
                    </g>
                  </g>
                </g>
              </svg>
              <h2 id="contact" class="section-heading text-center">Create Your CoffeeShop</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
            <!-- form for getting coffeshop registeration info-->
            <form role="form" data-menu-order="content-form" class="box" id="login_form" action ="/CoffeeFinderApp/create_page/" method="post">
            {% csrf_token %}
            <div class="form-group">
            <input size="20" type="text"  name='owner' placeholder="CoffeeShop Owner" id="name" >
            </div>
            <div class="form-group">
            <input size="20" type="text"  name="name" placeholder="CoffeeShop Name"  >
            </div>
            <div class="form-group">
            Do You Offer Delivery? : <input size="20" type="checkbox"  name="delivery"  >
            </div>
            <input id="pac-input" class="controls" type="text" placeholder="Search Box">
            <div class="form-group">
          </div>
            <div class="form-group">
            <input id="street" size="20" type="text"  name="street_number" placeholder="Street Nr." >
            </div>
            <div class="form-group">
            <input id="area" size="20" type="text" name="area" placeholder="Area">
            </div>
            <div class="form-group">
            <input id="city" size="20" type="text" name="city" placeholder="City">
            </div>
            <div class="form-group">
            <input id="country" size="20" type="text" name="country" placeholder = "Country" >
            </div>
            <div class="form-group">
            <input id="long" size="20" type="text" name="longitude"  hidden> <br>
            <input id="lat" size="20" type="text" name="latitude" hidden >
          </div>
            <input type="submit" value="Create Your Page" data-menu-order="content-form-submit" class="btn " />
        </form>
            </div>
            <div class="col-md-6" >
              <br>
              <h6> Where is your Coffee Maker? </h6>
                          <section id="map" class ="map"></section>


            </div>
          </div>
        </div>
      </section>
    </div>
    </div>
                      <footer class="site-footer">
        <div class="copyright">
          <div class="container">
            <div class="row">
              <div class="col-sm-6"></div>
              <div class="col-sm-6">
                <div class="social"><a href="#" class="fa fa-twitter"></a><a href="#" class="fa fa-facebook"></a><a href="#" class="fa fa-behance"></a><a href="#" class="fa fa-skype"></a><a href="#" class="fa fa-vimeo-square"></a><a href="#" class="fa fa-google-plus"></a><a href="#" class="fa fa-linkedin-square"></a>
                </div>
              </div>
            </div>
          </div>
      </footer>
        </body>



      <script src="{% static 'javascript/jquery.js' %}"></script>
      <script src="{% static 'javascript/gmap3.js' %}"></script>
      <script src="{% static 'javascript/jquery.cookie.js' %}"></script>
      <script src="{% static 'javascript/theme.js' %}"></script>
      <script src="{% static 'javascript/smoothscroll.js' %}"></script>
      <script src="{% static 'javascript/bootstrap/tab.js' %}"></script>
      <script src="{% static 'javascript/bootstrap/collapse.js' %}"></script>
      <script src="{% static 'javascript/bootstrap/alert.js' %}"></script>
      <script src="{% static 'javascript/bootstrap/carousel.js' %}"></script>
      <script src="{% static 'javascript/bootstrap/transition.js' %}"></script>
      <script src="{% static 'javascript/jquery.touchSwipe.js' %}"></script>
      <script src="{% static 'javascript/picturefill.js' %}" async></script>
      <script src="{% static 'javascript/parallax.js' %}"></script>
      <script src="{% static 'javascript/imagesloaded.js' %}"></script>
      <script src="{% static 'javascript/isotope.js' %}"></script>
      <script src="{% static 'javascript/jflickrfeed.js' %}"></script>
      <script src="{% static 'javascript/jquery.prettyPhoto.js' %}"></script>
      <!-- LayerSlider-->
      <script src="{% static 'javascript/greensock.js' %}"></script>
      <script src="{% static 'javascript/layerslider.transitions.js' %}"></script>
      <script src="{% static 'javascript/layerslider.kreaturamedia.jquery.js' %}"></script>
      <!-- Colorpicker-->
      <script src="{% static 'javascript/colorpicker.js' %}"></script>
      <script>
        // jQuery(function($) {
        //  map('#map', '2 Elizabeth St, Melbourne', 14);
         
        //  $("#no-clutter").parallax("50%", 0.6);
        //  $("#home").parallax("50%", 0.6);
        //  $("#coffee-statement-1").parallax("50%", 0.6);
        //  $("#pizza-statement-1").parallax("50%", 0.6);
        // });
        
      </script>
      <script>
        jQuery(function() {
         jQuery('#home').layerSlider({
          skin        : 'kataleya',
          skinsPath       : 'assets/css/layerslider/skins/',
          responsiveUnder   : 1200,
          layersContainer   : 1200,
          responsive      : true,
          showCircleTimer   : false
         });
        });
      </script>
  </body>
</html>