<form action="{% url "uploadImage_item" %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <p>{{ form.non_field_errors }}</p>
  <p>{{ form.image.label_tag }} {{ form.image.help_text }}</p>
  <p>
  {{ form.image.errors }}
  {{ form.image }}
  
  
  </p>
  <input hidden id="image" size="20" type="text" name="image" value={{ form.image }}
  <input hidden id="page" size="20" type="text" name="page" value={{ page_id}} >
  <input hidden id="item" size="20" type="text" name="item" value={{ item_id }} >
  <p><input type="submit" value="Upload" /></p>
  </form>







