<!DOCTYPE html>
{% load staticfiles %}

<html>

    <body>
    <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));

            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

        {{ review_field }}  
        <br><br><br><br>
        <div class="fb-share-button" data-href="/CoffeeFinderApp/review/{{ review_id }}/" data-layout="button_count"></div>
        <br><br>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="&quot;/CoffeeFinderApp/review/{{ review_id }}/&quot;">Tweet</a>
        <br><br>
       <div class="g-plus" data-action="share" data-annotation="bubble"></div>
       <script src="https://apis.google.com/js/platform.js" async defer></script>
    </body>
        
</html>